/* Tablet Layout: 768px */
@media screen and ( min-width: 481px ) {
	
	section div.container {
		width: 750px;
		padding: 0px 9px;
	}
	div.top-banner > * {
		float: left;
	}
	/******   T O P - B A R  ********/
	body.home div.bar-left {
		display: none;
	}
	.bar-left form.search-bar {
		width: 375px;
	}
	/*******   B A N N E R   ********/	
	.top-banner nav {
		width: 45%;
		margin-left: 13%;
		padding-top: 25px;
	}
	/*******   P A N E L S   *******/
	section.panel.home {
		height: 460px;
	}
	.panel  div.search {
		padding: 60px 0px 0px;
	}
	.search form {
		margin-top: 50px;
		padding: 30px;
		overflow: hidden;
	}
	.search input {
		margin: 3px;
		float: left;
	}
	.search ul.format {
		margin-left: 15px;
		padding-top: 10px;
	}
	input.search-btn {
		position: absolute;
		bottom: 30px;
		right: 20px;
	}
	/*********  M A I N   ************/ 
	ul.steps li {
		width: 30%;
		margin: 10px 0px 10px 20px;
		float: left;
		text-align: center;
	}
	ul.steps span.circle {
		margin: 0px auto 10px;
		padding-top: 40px;	
	}
	ul.steps p {
		width: 90%;
		margin: 0px auto;
	}
	ul.sister-sites span.circle {
		width: 30px;
		height: 27px;
		padding-top: 3px;
		padding-right: 2px;
	}
	div.box {
		float: left;
	}
	div.box.categories, div.box.tv {
		width: 95%;
	}
	div.box.mobile,  div.box.dvd,
	div.box.sell, div.box.rent  {
		width: 46%;
		height: 200px;
	}
	div.box.mobile, div.box.rent {
		margin-right: 10px;
	}
	#list-container {
		height: 250px;	
	}
	ul.txt-list {
		-moz-column-gap: 10;
    	-moz-column-count: 3;
    	-webkit-column-count: 3;
    	-webkit-column-gap: 10;
    	column-count: 3;
    	column-gap: 10;
	}
	ul.bks-list {
		-moz-column-gap: 3;
    	-moz-column-count: 4;
    	-webkit-column-count: 4;
    	-webkit-column-gap: 3;
    	column-count: 4;
    	column-gap: 3;
	}

}
