@media screen and ( min-width: 321px) and ( max-width: 480px) {
	
	body {
 		background: #FFFFFF url('../images/bgd/bgdBooks480.png') no-repeat center top;
 		background-position: 0px 160px;	
	}
	section div.container {
	width: 90%;
	padding: 0px;
	}
	/******   T O P  -  B A R   *********/
	body.home div.bar-left {
	display: none;
	}
	body.innerPage div.bar-right {
		display: none;
	}
	.bar-left form.search-bar {
		width: 90%;
	}
	div.bar-right nav {
		margin: 0px;
		width: 65px;
		height: 100px;
		margin: 0px 10px 0px;
	}
	
	/******** 	B A N N E R    ********/
	 
	section.banner div.container {
		width: 100%;  
		margin: 0px auto;  
	}
	h1.logo {
		margin: 0px auto;
		background-position: center;
		width: 100%;
	}
	.top-banner nav {
		width: 100%;
		margin: 5px auto 0px;
		z-index: 10;
	}
	nav ul.main-nav {
		padding-top: 0px;
	}
	ul.main-nav li {
		text-align: center;
	}
	.main-nav a {
		color: #BED455;
	}
	.main-nav a:hover {
		color: #737373;
	}
	.main-nav span.circle.small {
		display: none;
	}
	/*********   P A N E L S   ********/
	section.panel.home {
		height: 450px;
	}
	.search form {
		width: 95%;
		padding: 15px 7px;
	}
	.search input {
		margin: 10px auto 0px;
	}
	/*********   M A I N    ***********/ 
	ul.steps li {
		overflow: hidden;
		width: 100%;
		margin: 10px 0px 10px 20px;
	}
	.steps li > * {
		float: left;
	}
	.steps p {
		width: 65%;
		margin-left: 3%;
		padding-top: 25px;
	}
	.sister-sites span.circle {
		width: 25px;
		height: 22px;
	}
	div.box {
		width: 100%;
		margin: 20px auto;
	}
	div.box.mobile, div.box.dvd, div.box.sell,
	div.box.rent {
		height: 180px;
	}
	.categories h3 {
		width: 100%;
	}
	.categories ul.browse {
		width: 100%;	
	}
	#list-container {
		height: 350px;	
	}
	div.txt-slide, 
	div.bks-slide {
		width: 350px;
	}
	ul.bks-list {
		-moz-column-gap: 2;
    	-moz-column-count: 2;
    	-webkit-column-count: 2;
    	-webkit-column-gap: 2;
    	column-count: 2;
    	column-gap: 2;
	}

}


 