@media screen and ( min-width: 769px ) {
	
	.wrapper div.books-content.expand {
		width: 90%;
	}
	section div.container {
	width: 1000px;
	padding: 0px;
	margin: 0px auto;
	}
	/********  T O P - B A R  *******/
	div.bar-container > div {
	width: 50%;
	float: left;
	}
	body.home form.search-bar,
	body.home a.advlink {
	display: none;
	}
	/*div.top-wrapper.fixed{
		position: fixed;
		z-index: 100;
		height: 120px;
		overflow: hidden;
	}
	div.top-wrapper.fixed-animation {
		height: 42px;
		box-shadow: 3px 3px 6px #999999;
		transition: height 0.5s;
		-webkit-transition: height 0.5s;
	}
	*/
	/******  B A N N E R   ********/
	.top-banner nav {
		width: 30%;
		margin-left: 35%;
	}
	/*******  P A N E L S  ********/
	.search form {
		width: 65%;		
	}
	.search ul.searchlinks {
		width: 50%;
	}
	/*******  M A I N   ************/ 
	/* HOMEPAGE */
	ul.sister-sites li {
		font-size: 1em;
	}
	div.box.categories {
		width: 660px;
		height: 400px;
		margin-right: 20px;
		padding-bottom: 10px; 
	}
	div.box.mobile,
	div.box.dvd {
		width: 27%;
		height: 180px;
	}
	div.box.sell,
	div.box.rent {
		width: 47%;
		height: 180px;
	}
	#list-container {
		height: 225px;
	}
	ul.bks-list {
		line-height: 1.6em;
	}
	div.box.rent {
		margin-right: 10px;
	}
	div.box.tv {
		width: 97%;
	}
	div.box.tv > div {
		float: left;
	}
	div.text-holder {
		width: 47%;
		margin-right: 40px;
	}
	div.video-holder {
		width: 43%;
		background: #A6A6A6;
		text-align: center;
		padding: 10px 0px;
	}
	
	
}