@media screen and ( min-width: 321px) and ( max-width: 480px) {
	/********  B A S I C   E L E M E N T S  ******* */ 
	body {
 		background: #FFFFFF url('../images/bgd/bgdBooks480.png') no-repeat center top;
 		background-position: 0px 165px;	/*************FIX  ******/
	}
	/********* G E N E R I C    C L A S S E S  *****/

	/********* <a href> L I N K    C L A S S E S  *****/

	/******   B U T T O N S   S T Y L E S *****/

	/*  ICONS STYLES */

	/******   F O O T E R     *****/

	/*******  H E A D E R    ********/
	div.top-wrapper, .top-wrapper div.header {
		height: 165px;      
	}	
	.home div.bar-left, .innerPage div.bar-right {
		display: none;
	}
	.top-bar > div {
		width: 100%;
	}
	div.top-banner > * {
		width: 90%;
		margin: 5px auto;
	}	
	/********  M  A  I  N     C  O  N  T  E  N  T   *******/  
	/* H O M E P A G E  */
	.main-search input {
	margin: 3px auto;
	}
	.intro div.third {
		overflow: hidden;
		width: 100%;
		margin: 10px 0px 10px 20px;
	}
	div.third > * {
		float: left;
	}
	div.third p {
		width: 65%;
		margin-left: 3%;
		padding-top: 25px;
	}
	ul.sister-sites li {
		font-size: .8em;
	}
	ul.sister-sites span.circle {
		width: 25px;
		height: 22px;
	}
	div.box {
		width: 90%;
	}
	div.box.mobile, div.box.dvd, div.box.sell,
	div.box.rent {
		height: 180px;
	}
	div.box.categories {
		width: 430px;
	}
	.categories h3 {
	width: 100%;
	}
	.categories ul.browse {
		width: 100%;	
	}
	#list-container {
		width: 430px;
		height: 300px;	
	}
	div.txt-slide, div.bks-slide {
		width: 430px;
	}
	/* BOOKS RESULTS */

	/* PRICE CHART */

	/* SIDE BAR */
	
	
	

	
	

	

}


 