@media screen and ( min-width: 769px ) {
	/********  B A S I C   E L E M E N T S  ******* */ 
	body {
		font-size: 14px;
		background-color: white; /***********************ERASE ******/
	}
	.top-wrapper div.header,
	.wrapper div.books-intro,
	.wrapper div.books-content,
	.wrapper div.main-search,
	.wrapper div.main-content,
	.wrapper div.price-intro,
	.bottom-wrapper div.footer {
		width: 980px; 
		margin: 0px auto;     
	}
	/********* G E N E R I C    C L A S S E S  *****/

	/********* <a href> L I N K    C L A S S E S  *****/

	/******   B U T T O N S   S T Y L E S *****/

	/*  ICONS STYLES */

	/******   F O O T E R    *****/

	/******* H E A D E R     ********/
	.top-banner nav {
		width: 35%;
		margin-left: 30%;	
	}
	
	/********  M  A  I  N     C  O  N  T  E  N  T   *******/  
	/* H O M E P A G E  */
	.main-search form {
		width: 65%;		
	}
	.main-search ul.searchlinks {
		width: 50%;
	}
	ul.sister-sites li {
		font-size: 1em;
	}
	.intro div.windows {
		width: 100%;
		padding: 0px;
		margin: 0px auto;
	}
	div.box.categories {
		width: 637px;
		height: 400px;
		margin-right: 20px;
		padding-bottom: 10px; 
	}
	#list-container {
		width: 617px;
		height: 225px;
		position: relative;
		overflow: hidden;
	}
	div.txt-slide,
	div.bks-slide {
		width: 617px;
		float: left;
	}
	div.txt-slide.in,
	div.bks-slide.in {
	position: absolute;
	left: 0px;
	top: 0px;
	transition: left 0.5s;
	-webkit-transition: left 1s; /* Safari */	
	}

	div.txt-slide.out {
	position: absolute;
	left: -620px;
	transition: left 0.5s;
	-webkit-transition: left 1s; /* Safari */
	}
	div.bks-slide.out {
	position: absolute;
	left: 620px;
	transition: left 0.5s;
	-webkit-transition: left 1s; /* Safari */
	}
	div.box.mobile,
	div.box.dvd {
		width: 27%;
		height: 180px;
	}
	div.box.sell,
	div.box.rent {
		width: 46%;
		height: 180px;
	}
	div.box.rent {
		margin-right: 20px;
	}
	div.box.tv {
		width: 100%;
	}
	div.box.tv > div {
		float: left;
	}
	div.text-holder {
		width: 47%;
		margin-right: 40px;
	}
	div.video-holder {
		width: 43%;
		background: #A6A6A6;
		text-align: center;
		padding: 10px 0px;
	}
	/* BOOKS RESULTS */
	.wrapper div.books-content {
		padding-top: 25px;
	}
	/* PRICE CHART */
	

	/* SIDE BAR */




	

	

	




}