/********  B A S I C   E L E M E N T S  ******* */
/**** WEBSITE COLORS: GREEN: #97C024; / #BED455
	GRAY LIGHT-> DARK: #F3F3F3 / #E5E5E5 / #A6A6A6 / #8C8C8C / #737373 ****/ 
body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	color: #737373;
	background: #FFFFFF url('../images/bgd/bgdBooks.png') no-repeat center top;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
	}
body > div,
.top-wrapper div.top-bkgd,
.wrapper div.search-bkgd,
.bk-results div.bk {
	width: 100%;
	padding: 0px;
	margin: 0px;	
}
.wrapper {
	padding-bottom: 30px;
	position: relative;
}
.innerPage div.wrapper  {
	background-color: rgba(245,245,245,0.7);
}
.books-content,
.main-content {
	padding-bottom: 50px;
}
form > *,
.input[type=text],
select {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
	color: #737373;
	border: none;
	outline: none;
}
select.sort-by {
	font-size: 1em;
}
/********* G E N E R I C    C L A S S E S  *****/
/* LINKS*/
a:link,
a:visited {
	text-decoration: none;
	color: #737373;
}
a:hover {
	text-decoration: none;
	color: #333333;
}
a.blue-link,
span.blue-link,
ul.expand-nav a:link {
	color: #3899CC;
	text-decoration: none;
}
a.blue-link:hover,
span.blue-link:hover,
ul.expand-nav a:hover
 {
	color: #737373;
}
a.borderline, ul.bks-list a,
ul.txt-list a, ul.side-browse a {
	display: block;
	width: 100%;
	height: 100%;	
}
a.borderline:hover, ul.bks-list a:hover,
ul.txt-list a:hover, ul.side-browse a:hover {
	padding-left: 3px;
	border-left: 5px solid #97C024;
} 
a.underline:link,
a.underline:visited {
	text-decoration: underline;
	color: #A6A6A6;
}
a.underline:hover, {
	color: #3899CC;
	text-decoration: underline;
}
/* BUTTONS */
button, 
input.submit-btn {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #FFFFFF;
	display: inline-block;
	padding: 10px;
	border-radius: 7px;
	border: none;	
}
button span.circle {
	font-weight: bold;
	color: #97C024;
	background-color: #FFFFFF;
	text-align: center;
	display: inline-block;
	width: 25px;
	height: 23px;
	padding: 2px;
}
button:hover  span.circle,
button:hover span.circle.go {
	color: #8C8C8C;
	background-color: #E5E5E5;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari*/
}
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.dim {
	opacity: 0.7;
}
.dim:hover {
	opacity: 1;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s; /* Safari */
}
div.box {
	background-color: #FFFFFF;
	margin: 10px 0px;
	position: relative;
	box-shadow: 2px 2px 4px #999999;
}
.dropdown {
	line-height: 1.3em;
	color: #737373;
	background-color: #F3F3F3;
	z-index: 20;
	padding: 9px 10px;
	opacity: 0;
}
	li.mystuff:hover ul.dropdown,
	label.br:hover ul.browse-inside.dropdown,
	li.share:hover ul.share.dropdown {
		opacity: 100;
		transition: opacity 1s;
		-webkit-transition: opacity 1; /* Safari */
	}
em {
	color: #8C8C8C;
} 
h1.logo {
	background: url(../images/booksprice.png) no-repeat;
	width: 315px;
	height: 55px;
}
h1.logo a {
	text-indent: -999999px;
	display: block;
	width: 100%;
	height: 100%;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
	color: #555555;
}

.hide {
	display: none;
}
.fcontainer,
.bk-results div.bk {
	overflow: hidden;
}

.float-left,
div.alert-op > *, div.bk > div, div.bk-format, 
div.bk-right li, 
div.chart-holder ul li, div.details-wrapper > *,
div.main-content.books > div, div.price-head > *,
div.selector-holder > *, div.slide, 
div.top-banner > *, div.top-bar > div, 
form.search-bar > input, 
ul.bk-details.price > li, ul.books-bar form > *,
ul.books-bar li, ul.condition li,
ul.condition li > *, ul.nav-footer li,
ul.pref > li, ul.price-nav > li,
ul.share li, ul.side-details li, ul.view-as li {
	float: left;
}
.float-right,
ul.bar-nav, ul.bar-nav > li {
	float: right;
}
.form-bkgd {
	background-color: #F3F3F3;
	padding:0px 10px;
	border-radius: 14px;	
	border: 1px solid #A6A6A6;
}
.pointer,
button, div.selector-holder, input.round-search,
input.search-btn, label.check, select.sort-by, ul.bk-menu > li, span.blue-link {
	cursor: pointer;
}
.show {
	display: block;
}
.slide-in {
position: absolute;
left: 0px;
top: 0px;
transition: left 0.5s;
-webkit-transition: left 1s; /* Safari */	
}

.slide-out {
position: absolute;
transition: left 0.5s;
-webkit-transition: left 1s; /* Safari */

}
span.arrowdown {
   display: inline-block;
   width: 25px;
   height: 12px;
   background: url(../images/sprites/icons.png) no-repeat -240px -8px; 
}
span.arrowright {
   background: url(../images/sprites/icons.png) no-repeat -240px -40px;
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-top: -2px;
   vertical-align: middle;
}
span.dot {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
span.circle {
	color: #FFFFFF;
	background-color: #97C024;
	text-align: right;	
	border-radius: 50%;	
}
	a:link span.circle,
	a:visited span.circle,
	ul.browse li span.circle  {
		background-color: #A6A6A6;
	}
	a:hover span.circle ,
	ul.browse li.active span.circle,
	ul.browse li:hover span.circle {
		background-color: #97C024;
		transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s
	}
span.circle.x-sm {
	font-size: 1.1em;
	text-align: center;
	width: 15px;
	height: 14px;
	float: left;
	padding-top: 1px;
	margin: -5px 3px 0px 5px;	
}
span.circle.small {
	font-size: 1.6em;
	width: 28px;
	height: 30px;
	float: left;
	padding-right: 1px;
	margin: -10px 3px 0px 0px;	
}	
span.sup {
	font-size: .9em;
	position: relative; 
	top: -0.4em;
	left: 2px;
	cursor: pointer;
}
.top
div.bk.top > div.box, .side-bar span.side-header.top {
	margin-top: 0px;
}
/* SOCIAL MEDIA*/
a.social {
	text-indent: -999999px;
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;	
}
.share a.social {
	margin-right: 5px;
}
a.social.tw {
	background: url(../images/sprites/icons.png) no-repeat 0px 0px;	
}
a.social.tw:hover {
	background: url(../images/sprites/icons.png) no-repeat 0px -40px;	
}
a.social.fb {
	background: url(../images/sprites/icons.png) no-repeat -40px 0px;	
}
a.social.fb:hover {
	background: url(../images/sprites/icons.png) no-repeat -40px -40px;	
}
a.social.gl {
	background: url(../images/sprites/icons.png) no-repeat -80px 0px;	
}
a.social.gl:hover {
	background: url(../images/sprites/icons.png) no-repeat -80px -40px;
}
a.social.em {
	background: url(../images/sprites/icons.png) no-repeat -120px 0px;	
}
a.social.em:hover {
	background: url(../images/sprites/icons.png) no-repeat -120px -40px;
}
a.social.rss {
	background: url(../images/sprites/icons.png) no-repeat -160px 0px;	
}
a.social.rss:hover {
	background: url(../images/sprites/icons.png) no-repeat -160px -40px;
}
a.social:hover {
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
}
/***********************************************/
/*************   H  E  A  D  E  R    ***********/
/***********************************************/
div.top-wrapper {
	border-bottom: 3px solid #737373;
	position: relative;
	z-index: 0;
}
.top-wrapper div.top-bkgd {
	background-color: rgb(119,119,119);
	background-color: rgba(119,119,119,0.8);
	height: 42px;
	position: absolute;
}
.top-wrapper div.header {
	width: 100%;  
	padding: 0px 10px;
	margin: 0px auto;
	position: absolute;
	z-index: 10;
	left: 0;
    right: 0;          
}
/* TOP-BAR */
.header div.top-bar {
	color: #FFFFFF;
	width: 100%;
	height:  35px;
	padding: 5px 0px;
	margin-bottom: 10px;
}
.bar-left form.search-bar {
	width: 300px;	
	margin: 0px 15px 0px 0px;
}
form.search-bar input[type=text] {
	width: 270px;
	border: none;
	background-color: #F3F3F3;
}
input.round-search {
	background: url(../images/sprites/icons.png) no-repeat -200px 0px;	
	display: block;
	width: 26px;
	height: 26px;
}
input.round-search:hover {
	background: url(../images/sprites/icons.png) no-repeat -200px -40px;
}
li.mystuff {
	color: #A6A6A6;
	background-color:  #E5E5E5;
	display: block;
	width: 120px;
	height: 25px;
	padding: 3px 0px 2px;	
	text-indent: 10px;
	margin-right: 30px;
	border-radius: 15px;
}	
li.mystuff span.arrowdown {
	margin-top: 3px;
}
li.mystuff ul.mymenu {
	text-indent: 0px;
	width: 100px;
	padding-top: 3px;
	border-radius: 15px;
	position: absolute;
	top: 5px;	
	opacity: 0;
	box-shadow: 3px 3px 6px #999999;
}
/* TOP-BANNER */
.header div.top-banner {
	width: 100%;
}
ul.main-nav {	
	width: 100%;
	padding-top: 20px;	
	padding-bottom: 20px;
	margin-bottom: 10px;	
}
	ul.main-nav li {
		font-size: 18px;
		color: #777777;
		display: block;
		width: 27%;
		float: left;
	}
/***********************************************/
/*****  M  A  I  N    C  O  N  T  E  N  T  *****/
/***********************************************/ 
.wrapper div.main-content,
.wrapper div.search-bkgd,
.wrapper div.books-bkgd {
	width: 100%;        
}
.wrapper div.main-content {  
	padding: 0px 15px;
    margin: 0px auto;      
}
.wrapper div.search-bkgd {
	background-color: rgba (248,248,248,0.7);
	height: 420px;
	padding: 30px;
	box-shadow: 5px 5px 10px #999999;
}
.wrapper div.books-bkgd {
	background-color: #F3F3F3;
	padding: 20px 0px;
	box-shadow: 2px 2px 4px #A6A6A6;
}
.wrapper div.books-head,
.wrapper div.price-head,
.wrapper div.main-search {
	text-align: center;
	margin: 0px auto;
	z-index: 10;
}
.wrapper div.price-head {
	padding: 0px;
}
.wrapper div.main-search {
	padding: 30px 0px;
}
/********** H O M E P A G E  **********/
/* HP-MAIN SEARCH */
.main-search form {
	background-color: #E5E5E5;
	width: 75%;
	padding: 10px;
	margin: 30px auto 3px;
	border-radius: 30px;
	border: 4px solid #A6A6A6;
	position: relative;
}
.main-search input.txt {	
	font-size: 1.1em;
	background-color: #F7F7F7;
	width: 75%;
	padding: 10px;
	border-radius: 20px;
	border: none;
}
.main-search ul.format {
	width: 100%;
	margin: 10px 0px 10px 25px;
}
ul.format li {
	text-align: left;
	display: block;
	width: 22%;
	float: left;
	padding-right: 10px;
}
input.search-btn {
	background: #8C8C8C url(../images/buttons/magnifier.png) no-repeat center;
	display: block;
	width: 75px;
	height: 42px;
	border-radius: 20px;
	border: 2px solid #8C8C8C;
}
input.search-btn:hover {
	background: #97C024 url(../images/buttons/magnifier.png) no-repeat center;
	border-color: #97C024;
	transition: background 0.5s;
	-webkit-transition: background 0.5s; 
}	
.main-search ul.searchlinks {
		font-size: 0.9em;
		width: 70%;
		margin: 0px auto;
}
ul.searchlinks li {
	width: 50%;
	float: left;
}
ul.searchlinks a {
		text-decoration: none;
		color: #A6A6A6;
}
ul.searchlinks a:hover {
		color: #737373;
}
/* HP-INTRODUCTION */
.main-content div.intro {
	font-size: 1.2em;
	line-height: 1.2em;
	background-color: #FFFFFF;
	padding-top: 15px;
	margin: 15px auto 10px;
}
.intro ul.sister-sites {
	padding-top: 10px;
	margin: 0px auto 20px;
	border-top: 2px solid #A6A6A6;
}
ul.sister-sites li {
	width: 33%;
	float: left;
}
.sister-sites span.circle.small {	
	font-size: 1.2em;	
	padding-top: 3px;	
	margin-top: -5px;	
}
.third span.circle {
	font-size: 1.2em;
	display: block;
	text-align: center;
	width: 100px;
	height: 60px;
	padding-top: 40px;
	background-color: #97C024;
	background-repeat: no-repeat;
	background-position: center 10px;	
}
.third span.circle.search {
	background-image: url('../images/buttons/magnifier.png');
}
.third span.circle.compare {
	background-image: url('../images/icons/step2.png');
}
.third span.circle.save {
	background-image: url('../images/icons/step3.png');
}
/* HP-WINDOWS */
.main-content div.windows {
	width: 100%;
	padding: 0px;
	margin: 20px auto;
}
.windows div.box {
	background-color: #F3F3F3;
	padding: 10px;
	position: relative;
}
div.box.categories {
	background: #F3F3F3 url(../images/books.png) no-repeat center bottom;
	padding-bottom: 150px;
}
div.box.mobile {
	background: #F3F3F3 url(../images/appstores.png) no-repeat left bottom;
}
div.box.dvd {
	background: #F3F3F3 url(../images/dvd.png) no-repeat right center;
}
div.box.sell {
	background: #F3F3F3 url(../images/sell.png) no-repeat left bottom;
}
div.box.rent {
	background: #F3F3F3 url(../images/rent.png) no-repeat left bottom;
}
.categories h3 {
	width: 35%;
	padding-top: 7px;
	float: left;
}
.categories ul.browse {
	width: 65%;	
}
ul.browse li {
	font-size: 1.5em;
	width: 50%;
	float: left;
	padding: 10px 0px;
	position: relative;	
}
#list-container {
	width: 617px;
	height: 225px;
	position: relative;
	overflow: hidden;
	border-top: 2px solid #FFFFFF;
}
div.txt-slide,
div.bks-slide {
	width: 617px;
	float: left;
}
div.txt-slide.slide-out {
left: -620px;
}
div.bks-slide.slide-out {
left: 620px;
}
ul.txt-list,
ul.bks-list {
	width: 100%;
	margin: 5px auto;
}
ul.txt-list {
	line-height: 2em;
	-moz-column-gap: 5;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -webkit-column-gap: 5;
    column-count: 3;
    column-gap: 5;
}
ul.bks-list {
	line-height: 1.6em;
	-moz-column-gap: 3;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -webkit-column-gap: 3;
    column-count: 4;
    column-gap: 3;
}
div.box p {
	margin: 10px auto;
}
div.box.dvd  p {
	padding-right: 55px;
}
div.box.rent  p {
	padding-left: 170px;
}
div.box.sell p {
	padding-left: 150px;
}
span.box-link   {
	font-size: .9em;
	text-align: right;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
div.video-holder {
	background: #A6A6A6;
	text-align: center;
	padding: 10px 0px;
}   
/******** H E A D  B O O K S / P R I C E *******/
.wrapper div.books-head,
.wrapper div.price-head {
	width: 980px; 
	padding: 0px;
	margin: 0px auto;
}
.wrapper div.price-head {
	height: 250px;
}

.books-head ul.books-bar,
.price-head div.op-container,
.price-head ul.price-nav,
.price-head ul.pref,
.price-head div.alert-op {
	width: 100%;
	padding: 10px 0px 0px;
	margin: 0px;
} 
li.share ul {
	width: 175px;
	margin: -5px auto;
}
.share a.social {
	margin-right: 5px;
}
/*BOOKS - HEAD */
li.browse label.form-bkgd {
	display: block;
	padding: 5px 0px 0px 0px;
    margin-top: -5px;
    height: 22px;
    cursor: pointer;
}
li.browse ul {
	width: 220px;
	height: 50px;
	padding: 10px 0px;
	border: 1px solid #A6A6A6;
	border-top: none;
	position: absolute;
	top: 14px;	
	opacity: 0;
	box-shadow: 3px 3px 6px #999999;
	overflow-y: scroll;
}
ul.browse-inside li {
	width: 95%;
	padding-left: 3px;
	text-align: left;
}
/* PRICE-HEAD */
.price-head h3 {
	width: 88%;
	text-align: left;
	height: 45px;
	padding-top: 10px;
}
.price-head span.circle {
	float: none;
	display: inline-block;
}
.price-head div.bk-holder{
	width: 65px;
	margin: 0px 10px 0px;
}
.price-head ul.bk-details {
	width: 88%;	
	margin: 0px;
}
.price.head ul.bk-details li{
	width: 80%;	
	margin: 0px;
} 
/* PH NAV */
.price-head div.op-container{
	padding: 0px;
	height: 140px;
	margin: 10px 0px;
	position: relative;
	-moz-box-shadow:    inset 0 0 5px #A6A6A6;
   -webkit-box-shadow: inset 0 0 5px #A6A6A6;
   box-shadow:         inset 0 0 5px #A6A6A6;
}
ul.pref.slide-in,
div.alert-op.slide-in {
	top: 40px;
}
ul.pref.slide-out {
left: -1075px;
}
div.alert-op.slide-out {
left: 1075px;
}

.price-head ul.price-nav {
	font-size: 1.1em;
	padding-top: 0px;
	padding-bottom: 0px;		
}
.price-head div.alert-op,
.price-head ul.pref {
	height: 80px;
	border-bottom: 2px solid #FFFFFF;	
}
ul.price-nav > li {
	text-align: center;
	display: block;
	width: 33%;
	height: 25px;
	padding: 10px 0px 3px;
	border-bottom: 2px solid white;
}
ul.price-nav li.tab.active {
	color: #333333;
	border-bottom: 2px solid #97C024;
}
ul.price-nav li.tab:hover {
	border-bottom: 2px solid #97C024;
	text-decoration: none;		
}
ul.price-nav ul.share {
	float: right;
	margin-top: -5px;
}
/* PH PREFERENCES */
ul.pref li{
	width: 32%;
	padding: 0px 5px 10px;
	text-align: left;
}
ul.pref li form {
	margin-top: 10px;
}
ul.condition li {
	width: 40%;
}
ul.condition label {
	display: block;
	padding: 1px 7px 0px 1px;
}
.books-head ul.books-bar {
	height: 25px;
	margin-top: 20px;
	border-top: 2px solid #FFFFFF;
}
ul.books-bar > li {
	display: block;
	padding: 0px 7px;
	border-right: 1px solid #FFFFFF;
	width: 23%;
	height: 27px;	
	position: relative;
	overflow: visible;
}
ul.books-bar li.share {
	border-right: none;
}
ul.pref div.selector-holder,
li.sort .selector-holder {
   margin-left: 5px;
   overflow: hidden;
   cursor: pointer;
   padding: 0px;
   margin-top: -5px;
   height: 27px;
}
	.selector-holder span.arrowdown {
   		width: 25px;
   		margin: 7px 0px 0px -27px;
	}
ul.pref div.selector-holder {
   margin: 0px;
   width: 70%;
}	
ul.pref select,
li.sort select.sort-by {
	background: transparent;
	display: block;
	padding: 2px 1px 1px 5px;
	border: none;
   -webkit-appearance: none;
}
ul.pref select {
	width: 100%;
	height: 100%;
}
/* PH ALERTS*/
.alert-op ul.alert-menu {
	width: 20%;
	height: 70px;
	text-align: right;
	padding: 0px;
	margin-left: 10px;
	line-height: 1.5em;
	
}
ul.alert-menu li {
	padding: 0px 5px 1px 0px;
	border-right: 2px solid white;
	background-color: #E5E5E5;
}
.alert-menu li:hover,
.alert-menu li.active {
	border-bottom: 2px solid white;
	border-right: 2px solid #F3F3F3;
	background-color: #F3F3F3;
}
.alert-op div {
	width: 70%;
	height: 60px;
	padding: 5px 15px;
	text-align: left;
	position: relative;
}
.setalert ul.email-alert {
	width: 100%
}
.email-alert li {
	width: 100%;
	height: 20px;
	float: left;
}
.email-alert li input[type=text] {
	text-align: left;
	display: inline-block;
	height: 20px;
	padding: 0px 7px;
	margin-top: -3px;
	margin-right: 15px;
	border-radius: 10px;
	border: none;
}
.email-alert input.submit-btn {
	padding: 2px 20px;
	background-color: #97C024;
}
.email-alert input.submit-btn:hover {
	background-color: #A6A6A6;
}
/******* B O O K S  R E S U L T S   **********/
.wrapper div.books-content {
	margin-top: 170px;
}
ul.view-as {
	width: 150px;
	margin: 0px auto;	
}
ul.view-as li {
	width: 40px;
	height: 40px;
	margin: 0px 5px;	
}
ul.view-as a {
	text-align: center;
	text-indent: -999999px;
	display: block;
	width: 100%;
	height: 100%;	
}
a.grid {
	background: url(../images/sprites/icons.png) no-repeat -280px 0px;	
}
a.grid.active,
a.grid:hover {
	background: url(../images/sprites/icons.png) no-repeat -280px -50px	
}
a.list {
	background: url(../images/sprites/icons.png) no-repeat -330px 0px;	
}
a.list.active,
a.list:hover {
	background: url(../images/sprites/icons.png) no-repeat -330px -50px	
}
a.slide {
	background: url(../images/sprites/icons.png) no-repeat -380px 0px;	
}
a.slide.active,
a.slide:hover {
	background: url(../images/sprites/icons.png) no-repeat -380px -50px	
}
.books-content > div {
	width: 100%;
	margin: 20px 0px 50px;
}
div.bk-results div.bk-left {
	width: 23%;
	height: 200px;
	margin-right: 5px;
}
div.bk-holder {
		width: 90px;
		margin: 20px auto;
		border-top: 2px solid #8C8C8C;
		border-right: 2px solid #F3F3F3;
		border-bottom: 2px solid #F3F3F3;
		border-left: 2px solid #8C8C8C;
}
.bk-holder img {
		width: 100%;
		height: auto;
}

div.bk-results div.bk-right {
	width: 76%;
	margin-right: 0px;
	position: relative;
}
.bk-right div.details-wrapper {
	height: 167px;
	padding: 10px 10px 0px;
	position: relative;
}
.bk-right h4{
	width: 100%;
}
ul.authors > li {
	font-size: 0.9em;
	padding: 3px 15px 3px 0px;
}
ul.bk-details {
	line-height: 1.3em;
	width: 73%;	
	margin: 10px 3px 0px 0px;
}
.bk-right ul.bk-details {
	position: absolute;
	bottom: 5px;
}
ul.bk-details li {
	display: block;
	text-align: left;
	width: 77%;
}
ul.bk-details li.label {
	width: 23%;
}
.bk-right div.bk-nav {
	font-size: 0.9em;
	color: #A6A6A6;
	width: 100%;
}
button.compare-btn {
	font-size: 1.3em;
	background-color: #97C024;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
button.compare-btn:hover {
	background-color: #8C8C8C;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari*/
}
.bk-nav ul.bk-menu {
	width: 100%;
	height: 23px;
	margin: 0px auto;
}
ul.bk-menu li a,
ul.bk-menu li {
	text-align: center;
	background-color: #F3F3F3;
	display: block;
	width: 25%;
	height: 100%;
	padding: 5px 0px 7px;
}
ul.bk-menu li a {
	width: 100%;
	padding: 0px;
}
ul.bk-menu li.active {
	color: #333333;
	background-color: #E5E5E5;	
}
ul.bk-menu li:hover,
ul.bk-menu a:hover {
	color: #333333;
	background-color: #E5E5E5;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari */
}

div.tab-container {
	width: 100%;
	height: 100%;
	border: 10px solid #E5E5E5;
	padding: 5px 10px 25px; 
	position: relative;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;     
	box-sizing: border-box;
}

.bk-nav >div {
	width: 100%;
	height: 0px;
	overflow: hidden;
	transition: height 1s;
	-webkit-transition: height 1s; /* Safari */
}
.unwrap,
.bk-nav div.unwrap {
	height: 400px;
	transition: height 1s;
	-webkit-transition: height 1s; /* Safari */
}
div.tab-nav  {
	width: 100%;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
div.bk-format {
	width: 170px;
	height: 170px;
	margin: 0px;
	padding-bottom: 10px;	
}
div.bk-holder-sm {
	width: 50px;
	margin: 10px auto;
}
ul.fr-details li {
	line-height: 1.3em;
	width: 100%;
	text-align: center;
	margin: 0px;
}
/********** P R I C E   C H A R T S   **********/
.books-content div.chart-holder {
	width: 99%;
	border-bottom: 4px solid #E5E5E5;
	box-shadow: 5px 5px 10px #999999;
}
div.head-wrapper,
div.body-wrapper {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
ul.chart-header,
ul.row {
	width: 100%;
	overflow: hidden;
	min-height: 45px;
	border-left: 4px solid #E5E5E5;
	border-bottom: 1px hidden #E5E5E5;
	box-sizing: border-box;
	overflow: hidden;
}
ul.chart-header {
	color: #FFFFFF;
	background-color: #A6A6A6;
	border-left: 4px solid #A6A6A6;
	box-sizing: border-box;
}
ul.row.first,
ul.row:hover {
	width: 101%;
	background-color: #FFFFFF;
	border-top: 1px solid #A6A6A6;
	border-left: 4px solid #97C024;
	padding-left: 5px;
	box-shadow: 4px 4px 8px #999999;
}
.chart-holder li {
	padding: 20px 0px 0px;
}
.chart-holder li.single {
	width: 8%;
	text-align: right;
}
.chart-holder li.double {
	width: 10%;
	text-align: center;
}
.chart-holder li.triple,
.chart-holder li.store-link {
	width: 23%;
	text-align: left;
}
.chart-holder li.triple{
	padding-left: 10px;
}
.row li.store-link {
	padding: 3px 10px;
}
.chart-holder li.more {
	font-size: 0.8em;
	text-align: left;
	width: 100%;
	padding: 2px 0px;
}
.chart-holder li.more.more-hidden {
	display: none;
}
button.goto {
	font-size: 1em;
	color: #737373;
	text-align: left;
	background-color: #E5E5E5;
	width: 175px;
	padding: 5px 15px;
	position: relative;
}
ul.row.first button.goto,
ul.row:hover button.goto {
		background-color: #97C024;
		color: #FFFFFF;
}
button.goto span.circle {
	font-size: 1.2em;
	width: 17px;
	height: 17px;
	padding-bottom: 0px;
	position: absolute;
	top: 10px;
	right: 10px;
}
ul.row li.more {
	background-color: #F3F3F3;
	width: 100%;
	min-height: 15px;
	margin-top: 5px;
	margin-left: -4px;
	position: relative;
	
}
li.more p {
	width: 70%;
	padding-left: 10px;
	padding-right: 30%;
}
li.more button.x-sm {
	position: absolute;
	right:30%;
	top: 1px;
}

/***********************************************/
/***************   F O O T E R    **************/
/***********************************************/
div.bottom-wrapper {
	background-color: #737373;
	width: 100%;
	padding: 150px 0px;
	margin-top: 0px;
}
.bottom-wrapper div.footer {
	width: 100%;  
	color: #FFFFFF;
	text-align: center;    
}
div.footer a:link,
div.footer a:visited {  
	color: #FFFFFF;
	text-decoration: none;
}
div.footer a:hover {
	color: #3899CC;
	text-decoration: none;
}