/*********  BASIC  ELEMENTS  *******/
/* WEBSITE COLORS: 
GREEN: #97C024; / #BED455
GRAY LIGHT-> DARK: #F3F3F3 / #E5E5E5 / #A6A6A6 / #8C8C8C / #737373 
*/ 
body {
	font-family: "Century Gothic", "Muli", sans-serif;
	font-size: 14px;
	color: #737373;
	background: #FFFFFF url('../images/bgd/bgdBooks.png') no-repeat center top;
	width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	}

.wrapper,
.wrapper section,
.bk-results ul.bk,
div.head-wrapper,
div.body-wrapper  {
	width: 100%;
	padding: 0px;
	margin: 0px;	
}
section div.container {
	margin: 0px auto;
}
section div.container.exp {
	width: 97%;
	margin: 20px auto;
}
/*** G E N E R I C - C L A S S E S  ***/
a:link,
a:visited {
	text-decoration: none;
	color: #737373;
}
a:hover {
	text-decoration: none;
	color: #333333;
}
a.blue-link,
span.blue-link,
ul.expand-nav a:link {
	color: #3899CC;
	text-decoration: none;
}
a.blue-link:hover,
span.blue-link:hover,
ul.expand-nav a:hover {
	color: #737373;
}
a.borderline, ul.bks-list a,
ul.txt-list a, ul.side-browse a {
	display: block;
	width: 100%;
	height: 100%;	
}
a.borderline:hover, ul.bks-list a:hover,
ul.txt-list a:hover, ul.side-browse a:hover {
	padding-left: 3px;
	border-left: 5px solid #97C024;
} 
a.underline:link,
a.underline:visited {
	text-decoration: underline;
	color: #A6A6A6;
}
a.underline:hover, {
	color: #3899CC;
	text-decoration: underline;
}
button, 
input.submit-btn {
	font-family: "Century Gothic", "Muli", sans-serif;
	color: #FFFFFF;
	display: inline-block;
	padding: 10px;
	border-radius: 7px;
	border: none;	
}
button span.circle {
	font-family: "Avant Garde", Avantgarde, "Muli", sans-serif;
	font-weight: bold;
	color: #97C024;
	background-color: #FFFFFF;
	text-align: center;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px 4px 4px 5px;
}
button:hover  span.circle,
button:hover span.circle.go {
	color: #8C8C8C;
	background-color: #E5E5E5;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari*/
}
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.dim {
	opacity: 0.7;
}
.dim:hover {
	opacity: 1;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s; /* Safari */
}
div.box {
	background-color: #FFFFFF;
	margin: 10px 0px;
	position: relative;
	box-shadow: 2px 2px 4px #999999;
}
div.bk-holder {
	width: 90px;
	margin: 20px auto;
	overflow: hidden;
	border-top: 2px solid #737373;
	border-right: 2px solid #A6A6A6;
	border-bottom: 2px solid #A6A6A6;
	border-left: 2px solid #737373;
}
.dropdown {
	line-height: 1.3em;
	color: #737373;
	background-color: #F3F3F3;
	padding: 5px 0px 5px 10px;
	border: 1px solid #A6A6A6;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	box-shadow: inset 0 10px 10px -10px #A6A6A6;
}
em {
	color: #8C8C8C;
} 
.fcontainer,
.bk-results ul.bk {
	overflow: hidden;
}

.float-left,
div.alert-op > *, 
li.bk > div, 
div.bk-format, 
div.bk-right li,  
div.details-wrapper > *,
section.main.books > div, 
div.price > *,
div.selector-holder > *,
div.slide,  
form.search-bar > input, 
ul.bar-nav > li,
ul.bk-details.price > li, 
ul.books-bar form > *,
ul.books-bar > li, 
li.share li, 
ul.chart-header li,
ul.condition li,
ul.condition li > *, 
ul.nav-footer li,
ul.pref > li, 
ul.price-nav > li,
ul.row li,
ul.share li, 
ul.side-details li, 
ul.view-as li {
	float: left;
}
.float-right,
ul.bar-nav {
	float: right;
}
.form-bkgd {
	background-color: #F3F3F3;
	padding:1px 10px;
	border-radius: 14px;	
	border: 1px solid #A6A6A6;
}
h1.mask {
	text-indent: -999999px;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.5em;
}

h3:first-letter {
	font-size: 1.2em;
	color: #FFFFFF;
	background-color: #97C024;
	text-align: right;	
	border-radius: 50%;	
	display: inline-block;
	width: 20px;
	height: 20px;
	float: left;
	margin-top: -5px;
	padding: 5px 4px 4px 5px;
}
h4 {
	font-size: 1.2em;
	color: #555555;
}

.hide {
	display: none;
}
/* WebKit browsers */
input.txt::-webkit-input-placeholder { 
    color: #737373;
}
 /* Mozilla Firefox 4 to 18 */
input.txt:-moz-placeholder {
    color: #737373;
}
 /* Mozilla Firefox 19+ */
input.txt::-moz-placeholder {
    color: #737373;
}
/* Internet Explorer 10+ */
input.txt:-ms-input-placeholder { 
    color: #737373;
}
.inset {
	border: 2px solid #E5E5E5;
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}
.pointer,
button, div.selector-holder, input.round-search,
input.search-btn, label.check, select.sort-by, ul.bk-menu > li, span.blue-link {
	cursor: pointer;
}
select,
form > *,
.input[type=text] {
	font-family: "Century Gothic", "Muli", sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
	color: #8C8C8C;
	border: none;
	outline: none;
}
select.sort-by {
	font-size: 1em;
}
.show {
	display: block;
}
.slide-in {
position: absolute;
left: 0px;
top: 0px;
transition: left 0.5s;
-webkit-transition: left 1s; /* Safari */	
}

.slide-out {
position: absolute;
transition: left 0.5s;
-webkit-transition: left 1s; /* Safari */

}
section.panel,
.shadow {
	box-shadow: 2px 2px 4px #A6A6A6;
}
span.arrowdown {
   display: inline-block;
   width: 25px;
   height: 12px;
   background: url(../images/sprites/icons.png) no-repeat -240px -8px; 
}
span.arrowright {
   background: url(../images/sprites/icons.png) no-repeat -240px -40px;
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-top: -2px;
   vertical-align: middle;
}
span.dot {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
span.circle {
	color: #FFFFFF;
	background-color: #97C024;
	text-align: right;	
	border-radius: 50%;	
}
	a:link span.circle,
	a:visited span.circle,
	ul.browse li span.circle  {
		background-color: #A6A6A6;
	}
	a:hover span.circle ,
	ul.browse li.active span.circle,
	ul.browse li:hover span.circle {
		background-color: #97C024;
		transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s
	}
span.circle.x-sm {
	font-size: 1.1em;
	text-align: center;
	width: 15px;
	height: 14px;
	float: left;
	padding-top: 1px;
	margin: -5px 3px 0px 5px;	
}
span.circle.small {
	font-size: 1.6em;
	width: 35px;
	height: 35px;
	float: left;
	padding-bottom: 3px;
	padding-right: 3px;
	margin: -10px 3px 0px 0px;	
}	
ul.main-nav li:first-letter 
span.sup {
	font-size: .9em;
	position: relative; 
	top: -0.4em;
	left: 2px;
	cursor: pointer;
}
.top
li.bk.top > div.box, .side-bar span.side-header.top {
	margin-top: 0px;
}
/* SOCIAL MEDIA*/
a.social {
	text-indent: -999999px;
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;	
}
.share a.social {
	margin-right: 5px;
}
a.social.tw {
	background: url(../images/sprites/icons.png) no-repeat 0px 0px;	
}
a.social.tw:hover {
	background: url(../images/sprites/icons.png) no-repeat 0px -40px;	
}
a.social.fb {
	background: url(../images/sprites/icons.png) no-repeat -40px 0px;	
}
a.social.fb:hover {
	background: url(../images/sprites/icons.png) no-repeat -40px -40px;	
}
a.social.gl {
	background: url(../images/sprites/icons.png) no-repeat -80px 0px;	
}
a.social.gl:hover {
	background: url(../images/sprites/icons.png) no-repeat -80px -40px;
}
a.social.em {
	background: url(../images/sprites/icons.png) no-repeat -120px 0px;	
}
a.social.em:hover {
	background: url(../images/sprites/icons.png) no-repeat -120px -40px;
}
a.social.rss {
	background: url(../images/sprites/icons.png) no-repeat -160px 0px;	
}
a.social.rss:hover {
	background: url(../images/sprites/icons.png) no-repeat -160px -40px;
}
a.social:hover {
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
}
div.fb-like {
	height: 25px;
}
/****************************************/
/*******   T  O  P  -  B  A  R   ********/
/****************************************/
.wrapper section.top-bar {
	background-color: rgb(100,100,100);
	background-color: rgba(100,100,100,0.8);
	color: #FFFFFF;
	height:  45px;
	position: absolute;
	z-index: 10;
}
/* BAR CONTAINER: 
MOBILE + TABLET: DISPLAY ONLY ONE SIDE AT THE TIME
DESKTOP: WIDTH = 50% / 50%
			FLOAT LEFT */
.top-bar div.bar-container {
	width: 97%;
	height: 35px;
	margin: 5px auto;
	padding: 0px;
}
div.bar-container > div {
	height: 35px;
	padding: 0px;
	margin: 0px;
	width: 100%;
} 
/* */	
div.bar-left > * {
	float: left;
}
.bar-left form.search-bar {
	height: 25px;
	padding: 3px 10px;	
}
form.search-bar input[type=text] {
	color: #737373;
	width: 345px;
	border: none;
	background-color: #F3F3F3;
}
input.round-search {
	background: url(../images/sprites/icons.png) no-repeat -200px 0px;	
	display: block;
	width: 26px;
	height: 26px;
}
input.round-search:hover {
	background: url(../images/sprites/icons.png) no-repeat -200px -40px;
}
div.bar-right > * {
	float: right;
}
ul.bar-nav {
	background-color:  #737373;
	width: 400px;
	height: 25px;
	padding: 4px 12px;
	border-radius: 15px;
}
ul.bar-nav > li {
	display: block;
}
li.like {
	width: 75px;
}
li.mystuff {
	text-indent: 20px;
	border-left: 1px solid #8C8C8C;  
}	
li.mystuff ul.mymenu {
	width: 120px;
	position: absolute;
	top: 38px;
	right: 60px;	
}
ul.mymenu li {
	text-indent: 3px;
}

/**********************************/
/****** B  A  N  N  E  R   ********/
/**********************************/
section.banner {
	padding: 70px 0px 5px;	
	border-bottom: 3px solid #737373;
}
h1.logo {
	background: url(../images/booksprice.png) no-repeat;
	width: 315px;
	height: 55px;
}
h1.logo a {
	text-indent: -999999px;
	display: block;
	width: 100%;
	height: 100%;
}

ul.main-nav {	
	padding-top: 10px;		
}
	ul.main-nav li {
		font-size: 23px;
		color: #3899CC;
		display: block;
		width: 33%;
		float: left;
	}
	ul.main-nav a:hover {
		color: #3899CC;
	}
/************************************/
/************************************/
/*******   P  A  N  E  L  S   *******/
/************************************/
/************************************/ 
section.panel {
	width: 100%;        
}
.panel div.container {
	text-align: center;
}
.panel h3 {
	text-align: left;
	height: 45px;
}
/*SEARCH */
section.home {
	background: rgba(248, 248, 248, 0.6);
}
.panel  div.search {
	padding: 40px 0px;
}
.search form {
	background-color: #E5E5E5;
	width: 75%;
	padding: 10px;
	margin: 30px auto 3px;
	border-radius: 30px;
	border: 4px solid #8C8C8C;
	position: relative;
}
.search input.txt {	
	font-size: 1.1em;
	color: #737373;
	background-color: #F7F7F7;
	width: 75%;
	padding: 10px;
	border-radius: 20px;
	border: none;
}
.search ul.format {
	width: 100%;
	margin: 10px 0px 10px 25px;
}
ul.format li {
	text-align: center;
	display: block;
	float: left;
	padding-right: 15px;
}
input.search-btn {
	background: #8C8C8C url(../images/buttons/magnifier.png) no-repeat center;
	display: block;
	width: 75px;
	height: 42px;
	border-radius: 20px;
}
input.search-btn:hover {
	background: #97C024 url(../images/buttons/magnifier.png) no-repeat center;
	transition: background 0.5s;
	-webkit-transition: background 0.5s; 
}
.search ul.searchlinks {
	font-size: 0.9em;
	width: 70%;		
	margin: 0px auto;
}
ul.searchlinks li {
	width: 50%;
	float: left;
}
ul.searchlinks a {
	text-decoration: none;
	color: #A6A6A6;
}
ul.searchlinks a:hover {
	color: #737373;
}
/* */
section.bks-panel,
section.pr-panel {
	background: rgba(248, 248, 248, 0.9);
	padding: 10px 0px;
}
/* BOOKS PANEL */
section.bks-panel {
	height: 80px;
}
.bks-panel ul.books-bar {
	width: 100%;
	height: 25px;
	padding-top: 12px;
	border-top: 2px solid #FFFFFF;
}
ul.books-bar > li {
	display: block;
	padding: 0px 7px;
	border-right: 1px solid #FFFFFF;
	width: 23%;
	height: 27px;	
	position: relative;
	overflow: visible;
}
ul.books-bar li.share {
	border-right: none;
}
ul.books-bar  li.share.isbn{
	float: right;
}
li.total {
	text-align: left;
}
li label.browse {
	display: block;
	padding: 5px 0px 0px 0px;
    margin-top: -5px;
    width: 220px;
    height: 22px;
}
li ul.browse-inside {
	width: 182px;
	position: absolute;
	top: 23px;
	left: 24px;	
	text-align: left;
}
li.share ul {
	width: 175px;
	margin: -5px auto;
}
.share a.social {
	margin-right: 5px;
}
/* PRICE PANEL */
section.pr-panel {
	height: 255px;
}
.price div.bk-holder{
	width: 65px;
	height: 100px;
	margin: 0px 10px 0px;
}
.price h3 {
	width: 88%;
	height: 55px;
	padding-top: 5px;
}
.price ul.bk-details {
	width: 88%;
	line-height: 1.2em;	
}
ul.bk-details li{
	width: 80%;	
}  
.price div.actions{
	width: 100%;
	height: 135px;
	margin: 10px 0px;
	position: relative;	
}
div.actions > * {
	width: 100%;
	padding-top: 5px;
}
ul.price-nav > li {
	font-size: 1.1em;
	text-align: center;
	display: block;
	width: 33%;
	height: 25px;
	padding: 10px 0px 3px;
	border-bottom: 2px solid white;
}
ul.price-nav li.tab.active {
	color: #333333;
	border-bottom: 2px solid #97C024;
}
ul.price-nav li.tab:hover {
	border-bottom: 2px solid #97C024;
	text-decoration: none;		
}
ul.price-nav ul.share {
	float: right;
	margin-top: -5px;
} 
.actions ul.pref,
.actions div.alert-op {
	height: 80px;	
}
ul.pref.slide-in,
div.alert-op.slide-in {
	top: 40px;
}
ul.pref.slide-out {
	left: -1075px;
}
div.alert-op.slide-out {
	left: 1075px;
}
ul.pref li{
	width: 32%;
	padding: 0px 5px 10px;
	text-align: left;
}
ul.pref li form {
	margin-top: 10px;
}
ul.condition li {
	width: 40%;
}
ul.condition label {
	display: block;
	padding: 1px 7px 0px 1px;
}
ul.pref div.selector-holder,
li.sort .selector-holder {
   margin-top: -5px;
   margin-left: 5px;
   overflow: hidden;
   cursor: pointer;  
}
.selector-holder span.arrowdown {   	width: 25px;
   	margin: 7px 0px 0px -27px;
}
ul.pref div.selector-holder {
   margin: 0px;
   width: 70%;
}	
ul.pref select,
li.sort select.sort-by {
	background: transparent;
	display: block;
	padding: 2px 1px 1px 5px;
	border: none;
   -webkit-appearance: none;
}
ul.pref select {
	width: 90%;
	height: 100%;
	margin-left: 11px;
}
.alert-op ul.alert-menu {
	width: 20%;
	height: 70px;
	text-align: right;
	padding: 0px;
	margin-left: 10px;
	line-height: 1.5em;
	
}
ul.alert-menu li {
	padding: 0px 5px 1px 0px;
	border-right: 2px solid white;
	background-color: #E5E5E5;
}
.alert-menu li:hover,
.alert-menu li.active {
	border-bottom: 2px solid white;
	border-right: 2px solid #F3F3F3;
	background-color: #F3F3F3;
}
.alert-op div {
	width: 70%;
	height: 60px;
	padding: 5px 15px;
	text-align: left;
	position: relative;
}
.setalert ul.email-alert {
	width: 100%
}
.email-alert li {
	width: 100%;
	height: 20px;
	float: left;
}
.email-alert li input[type=text] {
	text-align: left;
	display: inline-block;
	height: 20px;
	padding: 0px 7px;
	margin-top: -3px;
	margin-right: 15px;
	border-radius: 10px;
	border: none;
}
.email-alert input.submit-btn {
	padding: 2px 20px;
	background-color: #97C024;
}
.email-alert input.submit-btn:hover {
	background-color: #A6A6A6;
}
/***********************************/
/***********************************/
/*********   M  A  I  N     ********/
/***********************************/
/***********************************/
/***********************************/
/*HOMEPAGE*/ 
.main p.intro {
	font-size: 1.2em;
	line-height: 1.2em;
	background-color: #FFFFFF;
	padding-top: 15px;
	margin: 15px auto 10px;
}
ul.steps {
	padding-bottom: 20px;
	border-bottom: 2px solid #A6A6A6;
	margin-bottom: 50px;
}
ul.steps span.circle {
	font-size: 1.2em;
	display: block;
	text-align: center;
	width: 100px;
	height: 60px;
	padding-top: 40px;
	background-color: #97C024;
	background-repeat: no-repeat;
	background-position: center 10px;	
}
ul.steps span.circle.search {
	background-image: url('../images/buttons/magnifier.png');
}
ul.steps span.circle.compare {
	background-image: url('../images/icons/step2.png');
}
ul.steps span.circle.save {
	background-image: url('../images/icons/step3.png');
}
div.box {
	background-color: #F3F3F3;
	padding: 10px;
	position: relative;
}
div.box.categories {
	background: #F3F3F3 url(../images/books.png) no-repeat center bottom;
	padding-bottom: 150px;
}
div.box.mobile {
	background: #F3F3F3 url(../images/appstores.png) no-repeat left bottom;
}
div.box.dvd {
	background: #F3F3F3 url(../images/dvd.png) no-repeat right center;
}
div.box.sell {
	background: #F3F3F3 url(../images/sell.png) no-repeat left bottom;
}
div.box.rent {
	background: #F3F3F3 url(../images/rent.png) no-repeat left bottom;
}
.categories h3 {
	width: 35%;
	padding-top: 7px;
	float: left;
}
.categories ul.browse {
	width: 65%;	
}
ul.browse li {
	font-size: 1.5em;
	width: 50%;
	float: left;
	padding: 10px 0px;
	position: relative;	
}
#list-container {
	width: 100%;
	position: relative;
	overflow: hidden;
	border-top: 2px solid #FFFFFF;
}
div.txt-slide,
div.bks-slide {
	width: 100%;
	float: left;
}
div.txt-slide.in,
div.bks-slide.in {
	position: absolute;
	left: 0px;
	top: 0px;
	transition: left 0.5s;
	-webkit-transition: left 1s; 
}
div.txt-slide.slide-out {
	left: -750px;
	transition: left 0.5s;
	-webkit-transition: left 1s; 
}
div.bks-slide.slide-out {
	left: 750px;
	transition: left 0.5s;
	-webkit-transition: left 1s; 
}
ul.txt-list,
ul.bks-list {
	width: 100%;
	margin: 5px auto;
	line-height: 2em;
}
div.box p {
	margin: 10px auto;
}
div.box.dvd  p {
	padding-right: 55px;
}
div.box.rent  p {
	padding-left: 170px;
}
div.box.sell p {
	padding-left: 150px;
}
span.box-link   {
	font-size: .9em;
	text-align: right;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
div.video-holder {
	background: #A6A6A6;
	text-align: center;
	padding: 10px 0px;
}   
/* BOOKS RESULTS */
.main div.books {
	margin: 20px auto;
}
ul.view-as {
	width: 150px;
	margin: 0px auto 10px;	
}
ul.view-as li {
	width: 40px;
	height: 40px;
	margin: 0px 5px;	
	text-indent: -999999px;
	display: block;
}
li.view-grid {
	background: url(../images/sprites/icons.png) no-repeat -280px 0px;	
}
li.view-grid.active,
li.view-grid:hover {
	background: url(../images/sprites/icons.png) no-repeat -280px -50px;
}
li.view-list {
	background: url(../images/sprites/icons.png) no-repeat -330px 0px;	
}
li.view-list.active,
li.view-list:hover {
	background: url(../images/sprites/icons.png) no-repeat -330px -50px;	
}
li.view-slide {
	background: url(../images/sprites/icons.png) no-repeat -380px 0px;	
}
li.view-slide.active,
li.view-slide:hover {
	background: url(../images/sprites/icons.png) no-repeat -380px -50px;
}
/**/
.main ul.grid-view {
	margin: 0px auto;
}
.main ul.slide-view {
	background-color: #FFFFFF;
	width: 900px;
	height: 500px;
	margin: 0px auto;
	padding: 0px;
	box-shadow: 2px 2px 4px #999999;
	overflow: hidden;
}
.main li.bk {
	display: block;
	transition: width 0.5s;
	-webkit-transition: width 0.5s;
	transition: margin 0.5s;
	-webkit-transition: margin 0.5s; 
}
ul.grid-view li.bk {
	width: 200px;
	margin: 0px 10px 10px;
	float: left;
}
.list-view li.bk {
	width: 100%;
	overflow: hidden;
	margin: 20px 0px;
	padding-bottom: 2px;	
}
.slide-view li.bk {
	width: 900px;
	height: 500px;
	margin: 0px auto;
	padding: 20px;
	box-shadow: none;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;     
	box-sizing: border-box;
}
.isbn-view li.bk {
	width: 80%;
	margin: 30px auto;
	padding: 0px;
}
/**/
.bk div.bk-left {
	height: 180px; 
	margin: 0px;
	box-shadow: 2px 2px 4px #999999;
}
.grid-view div.bk-left{
	width: 180px;
	height: 150px;
}
.list-view div.bk-left {
	width: 19%;
	margin-right: 5px;	
}
.slide-view div.bk-left {
	height: 250px;
	box-shadow: none;
}
.isbn-view div.bk-left {
	padding: 30px 50px;
	margin: 0px 5px 5px 0px;
}
.grid-view div.bk-holder {
	margin: 10px auto;
	height: 120px;
}
.list-view div.bk-holder {
	height: 140px;
}
.slide-view div.bk-holder {
	width: 150px;
	height: 230px;
	margin: 0px auto;
}
.isbn-view div.bk-holder {
	width: 180px;
	height: 275px;	
}
.enlarge div.bk-holder {
	width: 500px;
	height: 775px;
	margin: 75px auto;
	background-color: #000000;
	position: relative;
}
.bk-holder img {
		width: 100%;
		height: auto;
}
/**/
.grid-view div.bk-right {
	width: 180px;
	margin: 0px;
}
.list-view div.bk-right {
	width: 75%;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.slide-view div.bk-right {
	width: 100%;
	height: 220px;
	margin: 0px;
	position: relative;
	box-shadow: none;
}
.isbn-view div.bk-right {
	width: 63%;
	margin: 0px;
	position: relative;
}
/**/
.bk-right div.details-wrapper {
	padding: 10px;
	position: relative;
}
.list-view div.details-wrapper {
	height: 167px;
	padding-bottom: 0px;
}
.grid-view div.details-wrapper {
	height: 160px;
	padding-top: 3px;
}
.slide-view .bk-right div.details-wrapper {
	width: 100%;
	height: 100px;
	padding: 0px;
}
.isbn-view .bk-right div.details-wrapper {
	height: 167px;
}
/**/
.bk-right h4{
	width: 100%;
}
.grid-view .bk-right h4 {
	font-size: 1em;
	line-height: 1.1em;
	padding-top: 3px;
	margin-bottom: 5px;
}
/**/
.slide-view ul.authors li,
.isbn-view ul.authors li,
.list-view ul.authors li {
	font-size: 0.9em;
	padding: 3px 15px 3px 0px;
}
.grid-view ul.bk-details {
	color: #A6A6A6;
}
.isbn-details ul.bk-details,
.list-view ul.bk-details {
	position: absolute;
	bottom: 15px;
	line-height: 1.3em;
	width: 73%;	
	margin: 0px 3px 0px 0px;
}
.slide-view ul.bk-details {
	line-height: 1.2em;
	width: 60%;
	position: absolute;
	bottom: 10px;
}
ul.bk-details li {
	display: block;
	text-align: left;
}
.isbn-view ul.bk-details li,
.list-view ul.bk-details li {
	width: 80%;
}
.slide-view ul.bk-details li {
	width: 30%;
}
.slide-view ul.bk-details li.publisher {
	width: 80%;
}
.isbn-view  ul.bk-details li.label,
.list-view ul.bk-details li.label,
.slide-view ul.bk-details li.label {
	width: 20%;
}
.slide-view ul.bk-menu,
.slide-view  div.tab-nav,
.isbn-view span.hide-this,
.grid-view ul.authors,
.grid-view ul.bk-details li.remove,
.grid-view ul.bk-details li.label,
.grid-view .bk-right div.bk-nav {
	display: none;
}
.list-view .bk-right div.bk-nav {
	font-size: 0.9em;
	color: #A6A6A6;
	width: 100%;
}
button.compare-btn {
	font-size: 1.3em;
	background-color: #97C024;
	position: absolute;
	bottom: 15px;
	right: 10px;
}
.grid-view button.compare-btn {
	font-size: 1.1em;
	bottom: 10px;
}
button.compare-btn:hover {
	background-color: #8C8C8C;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari*/
}
.bk-nav ul.bk-menu {
	width: 100%;
	height: 23px;
	margin: 0px auto;
	padding: 0px;
	border-top: 1px solid #FFFFFF;
}
ul.bk-menu li a,
ul.bk-menu li {
	text-align: center;
	background-color: #F3F3F3;
	display: block;
	width: 25%;
	height: 100%;
	padding: 5px 0px 7px;
}
ul.bk-menu li a {
	width: 100%;
	padding: 0px;
}
ul.bk-menu li.active {
	color: #333333;
	background-color: #E5E5E5;	
}
ul.bk-menu li:hover,
ul.bk-menu a:hover {
	color: #333333;
	background-color: #E5E5E5;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari */
}
div.tab-container {
	color: #737373;
	width: 100%;
	height: 100%;
	border: 10px solid #E5E5E5;
	padding: 5px 10px 25px; 
	position: relative;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;     
	box-sizing: border-box;
}
.bk-nav > div {
	width: 100%;
	height: 0px;
	overflow: hidden;
	transition: height 1s;
	-webkit-transition: height 1s; /* Safari */
}
.slide-view .bk-nav div.review {
	height: 120px;
}
div.enlarge {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: rgba(20, 20, 20,0.7);
}
.bk-holder span.circle {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: small-caps;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px 4px 4px 5px;
	margin: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.unwrap,
.bk-nav div.unwrap {
	height: 400px;
	transition: height 1s;
	-webkit-transition: height 1s; /* Safari */
}
.isbn-view  div.unwrap {
	height: 190px;
	transition: height 1s;
	-webkit-transition: height 1s; /* Safari */
}
div.tab-nav  {
	width: 100%;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
div.bk-format {
	width: 170px;
	height: 170px;
	margin: 0px;
	padding-bottom: 10px;
}
div.bk-format {
	width: 150px;
	height: 150px;
	margin: 0px;
	padding-bottom: 5px;
	font-size: 0.8em;	
}
div.bk-holder-sm {
	width: 50px;
	margin: 10px auto;
}
.isbn-view div.bk-holder-sm {
	width: 40px;
	margin: 5px auto;
}
ul.fr-details li {
	line-height: 1.3em;
	width: 100%;
	text-align: center;
	margin: 0px;
}
/* PRICE CHARTS */
.main div.chart-holder {
	background-color: #FFFFFF;
	margin: 30px auto;
	border-bottom: 4px solid #E5E5E5;
}
ul.chart-header,
ul.row {
	width: 100%;
	overflow: hidden;
	min-height: 50px;
	border-left: 4px solid #E5E5E5;
	border-bottom: 1px hidden #E5E5E5;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;     
	box-sizing: border-box;
	overflow: hidden;
}
ul.chart-header {
	color: #FFFFFF;
	background-color: #A6A6A6;
	border-left: 4px solid #A6A6A6;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;     
	box-sizing: border-box;
}
ul.row.first,
ul.row:hover {
	width: 101%;
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;     
	box-sizing: border-box;
	border-top: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	border-left: 4px solid #97C024;
	padding-left: 5px;
	box-shadow: 4px 4px 8px #999999;
	transition: 0.3s box-shadow;
}
.chart-holder li {
	padding: 20px 0px 0px;
}
.chart-holder li.coupon {
	width: 4%;
	text-align: center;
	display: block;
}
.chart-holder li.single {
	width: 10%;
	text-align: right;
}
li.single.left {
	text-align: left;
}
li.single.total {
	text-shadow: 1px 1px #F3F3F3;
	font-weight: bold;
}
.chart-holder li.double {
	width: 12%;
	text-align: left;
}
.chart-holder li.triple,
.chart-holder li.store-link {
	width: 20%;
	text-align: left;
}
.chart-holder li.triple{
	padding-left: 7px;
}
.row li.store-link {
	padding: 3px 10px;
}
.chart-holder li.more {
	font-size: 0.8em;
	text-align: left;
	width: 100%;
	padding: 2px 0px;
}
button.goto {
	font-size: 1em;
	color: #737373;
	text-align: left;
	background-color: #E5E5E5;
	width: 175px;
	padding: 5px 15px;
	position: relative;
}
ul.row.first button.goto,
ul.row:hover button.goto {
		background-color: #97C024;
		color: #FFFFFF;
}
button.goto span.circle {
	font-size: 1.2em;
	width: 17px;
	height: 17px;
	padding-bottom: 0px;
	position: absolute;
	top: 10px;
	right: 10px;
}
ul.row li.more {
	background-color: #F3F3F3;
	width: 100%;
	min-height: 15px;
	margin-top: 5px;
	margin-left: -4px;
	position: relative;
	
}
li.more p {
	width: 70%;
	padding-left: 10px;
	padding-right: 30%;
}
li.more button.x-sm {
	position: absolute;
	right:30%;
	top: 1px;
}
/*************************************/
/*************************************/
/*********  F O O T E R   ************/
/*************************************/
/*************************************/
section.footer {
	background-color: #737373;
	padding: 150px 0px; 
	color: #FFFFFF;
	text-align: center;    
}
.footer a:link,
.footer a:visited {  
	color: #FFFFFF;
	text-decoration: none;
}
.footer a:hover {
	color: #3899CC;
	text-decoration: none;
}
ul.sister-sites {
	width: 100%;
	padding-top: 10px;
	margin: 0px 0px 20px;
	border-top: 2px solid #A6A6A6;
}
.sister-sites li {
	float: left;
}
.sister-sites li.ss-link {
	margin-left: 5px;
}
.sister-sites span.circle.small {	
	font-size: 1.2em;	
	padding-top: 3px;	
	margin-top: -5px;	
}